@model IEnumerable<ProMedi.Models.AnaliticaOrina>

@{
    ViewData["Title"] = "Analíticas de Orina del Paciente";
    var pacienteId = ViewBag.PacienteId;
    var paciente = ViewBag.Paciente;
}

<h2>Analíticas de Orina del Paciente @paciente.Nombre, @paciente.Apellidos</h2>
<br />
<br />
<div class="border">
    <div class="row">
        <div class="col-6">
            <h2 class="text-center">Lista de analiticas de orina</h2>
        </div>
        <div class="col-6">
            <a asp-area="Cliente" asp-controller="AnaliticasOrina" asp-route-pacienteId="@pacienteId" asp-action="Create" class="btn btn-info">
                <i class="fas fa-plus"></i> &nbsp; Registra una nueva Analitica de Orina
            </a>
        </div>
    </div>

    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Fecha)</th>
                    <th>@Html.DisplayNameFor(model => model.Leucositos)</th>
                    <th>@Html.DisplayNameFor(model => model.Nitrito)</th>
                    <th>@Html.DisplayNameFor(model => model.Hemoglobina)</th>
                    <th>@Html.DisplayNameFor(model => model.Proteina)</th>
                    <th>@Html.DisplayNameFor(model => model.Creatinina)</th>
                    <th>@Html.DisplayNameFor(model => model.Albumina)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                        <td>@Html.DisplayFor(modelItem => item.Leucositos)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nitrito)</td>
                        <td>@Html.DisplayFor(modelItem => item.Hemoglobina)</td>
                        <td>@Html.DisplayFor(modelItem => item.Proteina)</td>
                        <td>@Html.DisplayFor(modelItem => item.Creatinina)</td>
                        <td>@Html.DisplayFor(modelItem => item.Albumina)</td>
                        <td>
                            <a class="btn btn-warning text-white" asp-controller="AnaliticasOrina" asp-action="Edit" asp-route-id="@item.Id" style="width:50px" title="Editar">
                                <i class="fas fa-edit"></i>
                            </a>
                           

                            @if (!item.IsArchived)
                            {
                                <a class="btn btn-success text-white" asp-action="Archivar" asp-route-id="@item.Id" asp-route-pacienteId="@pacienteId" style="width:50px" title="Archivar">
                                    <i class="fas fa-lock-open"></i>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-danger text-white" asp-action="Desarchivar" asp-route-id="@item.Id" asp-route-pacienteId="@pacienteId" style="width:50px" title="Desarchivar">
                                    <i class="fas fa-lock"></i>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
























